---
name: Go
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "12 2 * * *"

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        go: ["1.24.x", "1.25.x"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Run tests
        run: go test -race -count=1 ./...

      - name: Run benchmarks
        run: go test -run=nothing -bench=.

      - name: Check dirtiness
        run: |
          go mod tidy
          gofmt -s -w .
          git status
          git diff --exit-code
